html {
  width: 100%;
  height: 100%;
}
#Trackrate {
  width: 20%;
}

body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal-content {
  height: 90vh;
}

textarea {
  width: 100%;
  height: 100%;
 font-size: 10.8px;
  outline: none;
  resize: none;
  overflow: auto;
 
  color: #eee;
  border: none;
  padding-left: 1rem;
  background: url(http://i.imgur.com/2cOaJ.png);
  background-attachment: local;
  background-repeat: no-repeat;
  padding-left: 35px;
  padding-top: 11.5px;
  background-color: #212421;
  border-color:rgb(66, 36, 36);
}
